@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-x: hidden;
    background-color: #f3f3f3;
    margin: 0;
}


.logo-e-login{
    
    display: flex;
}

.logo-e-login #jordan{
    
    margin-left: 12px;
}

.logo-e-login h1{
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 19px;
}

.logo-e-login a{
    padding: 4px;
    text-decoration: none;
    margin-top: 6px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

#entrar{
    margin-right: 0;
    color: black;
}

#ajuda{
    
    margin-left: 1120px;
    color: black;
}

/* header */
header{
    background-color: #ffff;
    width: 1357px;
    height: 70px;
    margin-bottom: 5%;
    display: flex;
}

header #logo{
    align-items: center;
    text-align: center;
    margin-left: 18px;
    width: 90px;
    
}

header a{

    text-decoration: none;
    font-size: 1.3rem;
    padding: 22px;
    color: black;
    margin-left: 70px;
    font-family: "Bebas Neue", sans-serif;
}

header a:hover{
    text-decoration: underline;
}


input{
    border: none;
    background-color: rgba(229, 229, 229, 0.795);
    width: 150px;
    margin-top: 12px;
    margin-left: 400px;
    font-family: "Bebas Neue", sans-serif;
    height: 40px;
    border-radius: 1rem;
}

input::placeholder {
    text-indent: 10px;
}

header ion-icon{
    
    font-size: 1.5rem;
    margin-top: 19px;
    margin-left: 12px;
}


.esporte{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.esportes img{
    
    width: 100%;
}

.esportes descricao{
    
    font-family: "Raleway", sans-serif;
    padding: 9px;
    line-height: 1.9;
    
}

.esportes{
    width: 20%;
    margin: 25px;
}

.esportes img:hover{

    transform: scale(1.1);
}

#camisas:hover{
    color: red;
}

#esportes:hover{
    color: blueviolet;
}

#sapatos:hover{
    color: aqua;
}