@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{

    background-image: url('./img/login/Fundo\ login.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: #0D0D0D;
    background-repeat: no-repeat;
}


.card-login{

    width: 30%;
    border-radius: 1rem;
    height: 60%;
    border: 2px solid #CEA96E;
    margin: 10% auto;
}

.card-login h1{

    font-family: "bebas Neue", sans-serif;
    text-align: center;
    align-items: center;
    color: white;
}

.card-login .label-email{

    text-align: center;
    align-items: center;
    margin-bottom: 5%;
}

.label-email input{
    background-color: transparent;
    border: 2px solid #CEA96E;
    border-radius: 3rem;
    width: 40%;
    height: 30px;
    color: white;
}

input::placeholder{

    color: #CEA96E;
    font-style: "Raleway", sans-serif;
    font-family: "Raleway", sans-serif;
    padding: 9px;
}

.card-login .label-senha{

    text-align: center;
    align-items: center;

}

.label-senha input{
    background-color: transparent;
    border: 2px solid #CEA96E;
    border-radius: 3rem;
    width: 40%;
    color: white;
    height: 30px;
}

button{
    border: none;
    text-align: center;
    align-items: center;
    margin-left: 25%;
    background-color: white;
    color: black;
    width: 50%;
    font-family: "Bebas Neue", sans-serif;
    height: 30px;
    font-size: 1rem;
    border-radius: 3rem;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}

.card-login .informacoes{

    display: flex;
    margin-left: 2.5rem;
}

.informacoes p{

    color: white;
    padding: 30px;
    padding-top: 0px;
    transition: 0.5s;
    font-family: "Bebas Neue", sans-serif;
}

a{
    text-decoration: none;
}


#voltar:hover{
    color: #CEA96E;
    text-decoration: underline;
}

#senha:hover{
    color: #CEA96E;
    text-decoration: underline;
}

button:hover{
    border: 2px solid #CEA96E;
    background-color: transparent;
    color: white;
}