@media(min-width: 1440px) and (max-width: 2000px){

    
    #ajuda{
        
        margin-left: 100rem;
    }
    
    header{

        width: 90rem;
        height: 5rem;
        border-radius: 0 2rem 2rem 0;
    }

    header a{
        padding: 0;
        font-size: 1.9rem;
    }
    
    header #logo{
        margin-top: 0.7rem;
    }

    header ion-icon {
        font-size: 1.9rem;
        margin-top: 20px;
    }

    .links{
        
        margin-top: 1.5em;
    }
    
    input{        
        width: 300px;
        height: 50px;
        margin-left: 400px;
    }

    input::placeholder {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    #btn-1{
        
        margin-left: 41em;
    }

    #btn-2{
        margin-left: 41em;
    }

    #btn-3{
        margin-left: 41em;
    }
    
    .esportes .subtitulo{
        margin-left: 0;
        margin-right: 15em;
    }

    .esportes .titulo{
        margin-left: 0;
        margin-right: 7em;
    }

    .esportes .subtitulo2{
        margin-left: 0;
        margin-right: 15em;
    }

}

@media(width <= 768px){

    .logo-e-login{

        display: none;
    }

    header{

        display: block;
        width: 48.5em;
        height: 9em;
    }

    header #logo{

        width: 2em;
        margin-top: 1em;
    }

    header .links{

        font-size: 0.8rem;
        margin-left: 8em;
        margin-top: 1em;
        
    }

    input{

        margin-left: 10em;
        width: 40em;
    }

    ion-icon{

        display: none;
    }

    .esportes #banner_camisas{
        margin-left: 10em;
        width: 30em;
        height: 20em;
    }
    
    .esportes #banner-sapatos{
        margin-left: 10em;
        width: 30em;
        height: 20em;
    }
    
    .esportes #banner_esportes{
        margin-left: 10em;
        width: 30em;
        height: 20em;
    }    

    #btn-1{
        
        margin-left: 19em;
        width: 5em;
    }

    #btn-2{
        margin-left: 19em;
        width: 5em;
    }

    #btn-3{
        margin-left: 16em;
        width: 10em;
    }

    .esportes .subtitulo{
        margin-left: 6.5em;
    }

    .esportes .titulo{
        margin-left: 3.5em;
    }

    .esportes .subtitulo2{
        margin-left: 6.5rem;
    }

}