@media(min-width: 1440px) and (max-width: 3000px){

    
    #ajuda{
        
        margin-left: 80rem;
    }
    
    header{
        height: 5rem;
        max-width: 100%;
    }

    header a{
        font-size: 1.5rem;
    }
    
    header #logo{
        margin-top: 0.7rem;
    }

    header ion-icon {
        font-size: 1.9rem;
        margin-top: 20px;
    }

    .links{
        margin-top: 1.5em;
    }
    
    input{        
        width: 190px;
        height: 40px;
        margin-left: 55em;
    }

    input::placeholder {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    #btn-1{
        
        margin-left: 15em;
    }

    #btn-2{
        margin-right: 0;
        margin-left: 0;
    }

    #btn-3{
        margin-left: 15em;
    }

}

@media(width <= 768px){

    .logo-e-login{
        display: none;
    }

    #teste{
        display: inline-block;
    }

    header{
        max-width: 100%;
        display: block;
        height: 9em;
    }

    header #logo{

        width: 2em;
        margin-top: 1em;
    }

    header .links{

        font-size: 0.8rem;
        /* margin-left: 8em; */
        margin-top: 1em;
        
    }

    input{

        margin-left: 1em;
        width: 40em;
    }

    ion-icon{

        display: none;
    }

    .esportes #banner_esportes{
        margin: 0;
    }

    .esportes{
        gap: 0;
    }

    .camisas .textos{
        margin: 0;
    }

    .academia #video{
        margin: 0;
    }
    
    .academia{
        display: block;
    }

    .subtitulo .subtitulo2 .titulo{
        margin-left: 0;
    }

    #btn-1{
        
        margin-left: 19em;
        width: 5em;
    }

    #btn-2{
        margin-left: 19em;
        width: 5em;
    }

    #btn-3{
        margin-left: 16em;
        width: 10em;
    }

    .esportes .subtitulo{
        margin-left: 6.5em;
    }

    .esportes .titulo{
        margin-left: 3.5em;
    }

    .esportes .subtitulo2{
        margin-left: 6.5rem;
    }

}